*{
margin:0px;	
padding:0px;

}.header{
background:#EAEC25;	
font-style: italic;	
font-weight: 500px	;	
}
.im{
border-radius:150px;	
	
}
.im2{
width:250px;
	
}
.h1{
float:left;
width:auto;	
font-size:35px;		
}
.h{
float:right;	
width:auto;	
font-size:35px;	
}
@media screen and (min-width: 600px) {
.head{
background:#A3B3EC;	
font-weight: 350px	;

}
}
@media screen and (min-width: 700px) {
.d{
border-radius:15px;	
background-color: burlywood;	
display:inline-block;	
}		
}
.d{
background-color:#B77D1B;	
	
}